.main {
    color: #9b8579;
    height: 1080px;
    width: 1920px;
    background-image: url(../../images/background1.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    font-family: Bebas;
    font-weight: 300;
    padding: 0 30px;
    box-sizing: border-box;
}